<!-- Top Bar -->
  <section id="top-bar" class="p-3">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <i class="fas fa-phone"></i> (91)-793-43-66
        </div>
        <div class="col-md-4">
          <i class="fas fa-envelope-open"></i>ashurov635@gmail.com
        </div>
        <div class="col-md-4">
          <div class="social text-right">
            <a href="https://www.facebook.com/abdulaziz.ashurov">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="https://www.facebook.com/abdulaziz.ashurov">
              <i class="fab fa-facebook"></i>
            </a>
            <a href="https://t.me/Abdulaziz_4366">
              <i class="fab fa-telegram"></i>
            </a>
            <a href="https://www.instagram.com/Abdulaziz_4366">
              <i class="fab fa-instagram"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
